<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Quick Example</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form [formGroup]="userCreate">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputName1">Name</label>
          <input type="name" class="form-control" id="exampleInputName1" placeholder="Enter name" formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contact Number</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter contact number" formControlName="contactnumber" required>
        </div>
        <div class="form-group">
          <label for="exampleInputGender1">Gender</label><br>
          <div class="row">
            <div class="col-2">
              <input type="radio" id="html" name="fav_language" value="HTML">
             <label for="html">Male</label>
            </div>
            <div class="col-2">
              <input type="radio" id="css" name="fav_language" value="CSS">
              <label for="css">Female</label>
            </div>
            <div class="col-2">
              <input type="radio" id="javascript" name="fav_language" value="JavaScript">
              <label for="javascript">Not to disclosure</label>
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="exampleInputFile">
              <label class="custom-file-label" for="exampleInputFile">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text">Upload</span>
            </div>
          </div>
        </div> 
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>-->
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!userCreate.valid" (click)="createUser()" >Submit</button>
      </div>
    </form>
  </div>