<div class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <b>Admin</b>LTE
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Register a new membership</p>
    
          <form [formGroup]="Data" (ngSubmit)="RegisterUser()">
            <div  class="mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Full name" formControlName="name" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div *ngIf="register.name.invalid && (register.name.dirty || register.name.touched)" class="error">  
                <div *ngIf="register.name.errors?.required">
                  Name is required.
                </div>
              </div>
            </div>
           
          <div class=" mb-3">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div *ngIf="register.email.invalid && (register.email.dirty || register.email.touched)" class="error">  
              <div *ngIf="register.email.errors?.required">
                 Email is required.
              </div>
              <div *ngIf="register.email.errors?.email">
                 Email is invalid.
              </div>
            </div>
          </div>

            <div class="mb-3">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div *ngIf="register.password.invalid && (register.password.dirty || register.password.touched)" class="error">  
                <div *ngIf="register.password.errors?.required">
                   Password is required.
                </div>
                <div *ngIf="register.password.errors?.pattern">
                   Create strong password.
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Retype password" formControlName="confirmpassword" (click)="check($event,register.confirmpassword)" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
           
              <div *ngIf="register.confirmpassword.invalid && (register.confirmpassword.dirty || register.confirmpassword.touched)" class="error">  
                <div *ngIf="register.confirmpassword.errors?.required">
                   Confirm Password is required.
                </div>
                <div *ngIf="register.confirmpassword.errors?.pattern">
                  Create strong password.
                </div>
                <div *ngIf="register.confirmpassword.errors?.mustMatch">
                  Passwords must match
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-12">
                <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="terms" value="agree" formControlName="terms" required>
                  <label for="agreeTerms">
                   I agree to the <a href="#">terms</a>
                  </label>
                </div>
              </div>
              <div *ngIf="register.terms.invalid && (register.terms.dirty || register.terms.touched)" class="error">  
                <div *ngIf="register.terms.errors?.required">
                   Terms and condition is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!Data.valid" >Register</button>
              </div>
            </div>
            
          </form>
    
          <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i>
              Sign up using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i>
              Sign up using Google+
            </a>
          </div>
    
          <a routerLink="/" class="text-center">I already have a membership</a>
        </div>
        {{register }}
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
</div>